<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page_title %}
            {{ page_title }}
        {% else %}
            Artist Market
        {% endif %}
    </title>

    {% load static %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'CoSSandbox/dist/main.css' %}" />
    {% endblock stylesheets %}
</head>
<body>
    {% include 'nav.html' %}

    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}

        {% endblock body %}
    </div>

    {% block javascripts %}
        <script type="text/javascript" src="{% static 'CoSSandbox/dist/bundle.js' %}"></script>
    {% endblock javascripts %}
</body>
</html>