{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <h1>Get yer butt in here!</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <p class="mt-2">Not yet signed up? <span><a href="{% url 'register' %}">Register here.</a></span></p>

        <input class="btn btn-primary" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}
